
body{
    margin: auto;
    width: 80%;
  }

  .content-div {
    position: relative;
    border-width: 5px;
    border-style: solid; 
    border-color: whitesmoke;
    border-style: outset;
    margin-top: 5%;
  }

  .purple-border {
    border-color: purple;
  }

  .m-spacing {
    padding: 30px;
}

  .s-spacing {
    padding: 10px;
}

.text {
    color: black;
    font-family: Cursive;
    font-weight: bold;
    font-size: x-large;
}

.center {
  display: flex;
  justify-content: center;
}