.box {
    border-radius: 25px;
    background: #bacee0;
    padding: 20px;
    width: 100px;
    height: 100px;
    margin: 5px;
    box-shadow: 2px 2px  #888888
}

.box:hover {
    box-shadow: 5px 5px  #363434;
}

.text {
    text-align: center;
    color: black;
    font-family: Cursive;
    font-weight: bold;
}